:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  // width: 100%;
}

img {
  margin: 10px;
  background: white;
  border-radius: 5px;
  width: 80px;
  padding: 10px;
}

.footer {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .uno {
    flex: 1;
    white-space: pre-wrap;
    font-size: 12px;
  }
}
