@mixin class-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .default-theme,
  .blue-theme {
    .cl,
    .text {
      color: $gray-light;
    }
  }

  .black-theme {
    .cl,
    .text {
      color: $gray-black;
    }
  }

  .cl-primary,
  .text-primary,
  h2 {
    color: mat-color($primary);
  }

  .bg-primary {
    color: mat-color($primary, default-contrast);
    background-color: mat-color($primary);
  }

  .bg-accent {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  .cl-accent,
  .text-accent {
    color: mat-color($accent);
  }

  .cl-warn,
  .text-warn {
    color: mat-color($warn);
  }
}

.cl-success,
.text-success {
  color: $success;
}

.cl-info,
.text-info {
  color: $info;
}

.cl-warning,
.text-warning {
  color: $warning;
}

.cl-danger,
.text-danger {
  color: $danger;
}

.cl-dark,
.text-dark {
  color: $dark;
}

.cl-question,
.text-question {
  color: $question;
}

/************TAMAÑO FUENTES**************/
.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

/***********************ESTILO NOTIFICACIONES**********************/
.notifyok-title,
.swalok-title {
  font-weight: 300;
  color: $success;
}

.notifyerror-title,
.swalerror-title {
  font-weight: 300;
  color: $error;
}

.notifyinfo-title {
  font-weight: 300;
  color: $info;
}

.notifywarn-title {
  font-weight: 300;
  color: $warning;
}

.notifyquestion-title,
.swalquestion-title {
  font-weight: 300;
  color: $question;
}

/******************************************************/
.wd-full,
.wd-100 {
  width: 100%;
}

.max-wd-950 {
  max-width: 950px;
}

/**********************PADDING************************/
.pd-0 {
  padding: 0;
}

.pd-6 {
  padding: 6px;
}

.pd-12 {
  padding: 12px;
}

.pd-24 {
  padding: 24px;
}

.pd-36 {
  padding: 36px;
}

/*******************MARGIN*************************/
.mg-bot-4 {
  margin-bottom: 4px;
}
.mg-bot-8 {
  margin-bottom: 8px;
}

.mg-top-8 {
  margin-top: 8px;
}

.mg-top-4 {
  margin-top: 4px !important;
}
.mg-top-10 {
  margin-top: 10px !important;
}

.br-5 {
  border-radius: 5px;
}
/****************************************************/
.pointer {
  cursor: pointer;
}

/********************elemnto a descargar archivo**************************/
.a-link-file {
  display: none;
}

.relative {
  position: relative;
}

.overflow-auto {
  overflow: auto;
}

.circle-15 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.span-button-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.span-button-title > span {
  font-weight: 500;
  margin-right: 4px;
}
// .loading-spinner {
//   // margin-top: 30px;
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0; // bottom: 56px;
//   right: 0;
//   background: rgba(0, 0, 0, 0.15);
//   z-index: 1000;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.card .titulo {
  color: white !important;
  padding: 16px 15px !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card .content {
  // font-size: 0.9em;
  padding: 10px 15px !important;
  // box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  //   0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card .content hr {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #d4d2cf;
  border-bottom: 0;
}

.card .content p label {
  margin-right: 8px;
  font-weight: 500;
}

.list-border {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.list-secondary-text {
  color: rgba(0, 0, 0, 0.54);
}
